.container-signup {
    background: linear-gradient(120deg, #C04848, #480048);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-box {
    display: flex;
    flex-direction: column;
    width: 90%; /* Adjusted for responsiveness */
    max-width: 550px; /* Set a maximum width for larger screens */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .signup-head {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn {
    width: 100%; /* Make button full-width */
    margin-top: 20px;
  }
  
  .gauth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .signup-box {
      width: 90%; /* Adjusted width for smaller screens */
    }
    
    .btn {
      width: 100%; /* Ensure button remains full-width */
    }
    
    .gauth {
      flex-direction: column; /* Stack buttons vertically on smaller screens */
      justify-content: center;
      align-items: center;
    }
    
}
  