.container-dashboard {
    background: linear-gradient(120deg, #C04848, #480048);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-head {
    font-family: "Bebas Neue", sans-serif;
    text-align: center; /* Center align heading */
    margin-bottom: 20px; /* Add margin bottom for spacing */
  }
  
  .dashboard-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 800px; /* Set maximum width for larger screens */
  }
  
  @media (max-width: 992px) {
    .dashboard-box {
      width: 95%; /* Adjust width for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .dashboard-box {
      width: 100%; /* Full width for small screens */
      padding: 15px; /* Decrease padding for smaller screens */
    }
  }
  